body {
    background-color: #5C856E;
}

h1{
    color:white;
    

}
.note_font{
	font-size: 200%;
}



.col{
    border: 0.1px solid #6856bb;
    
}

ul,li{
	list-style-type: none;
	margin: 0;
    padding: 0;
    display: inline;

}

/*
.notes_and_radio_div{
	border: 4px solid pink;
	
}

.around_created{

	border: 4px solid pink;
	display: inline-block;
}
*/

