{% extends 'base.html' %}

{% block content %}
    <h1>notes</h1>   
    
<div class="container-fluid">
    <div class="row">
        <div class="col">
            
    <form action="{{ url_for('delete', id=id) }}" method="POST">
        <br>
    {{  note_form.add_note_button(class="btn btn-primary") }}
    {{ note_form.delete_button (class="btn btn-primary") }}
    {{ note_form.edit_button (class="btn btn-primary") }}
    {{ note_form.save_button (class="btn btn-primary") }}
    
    
        <br>
        <br>
    {{ note_form.field (class="form-control") }} 
    
    {{ note_form.hidden_tag() }}
     
    </form>
          
        </div>
          
        <div class="col">
                
                        {% for n in notes %}
<div class="notes_and_radio_div">
    
<h1 class="note_font"> {{ note_form.radio_button }} {{ n.text }}
                    
                
                    
                

                    </h1> 
</div>
<div class="around_created">
created {{ n.date.strftime('%d/%m/%y %H:%M')}}
</div>
                        {% endfor %}
            
        </div>      
    </div>
</div>

 
{% endblock %}