{% extends 'base.html' %}

{% block content %}
    <h1>notes</h1>   
    
<div class="container-fluid">
    <div class="row">
        <div class="col">
            
            <form action="" method="POST">
                <br>
                {{ note_form.add_note_button(class="btn btn-primary") }}
                <br>
                <br>
                {{ note_form.field (class="form-control") }} 
    
                {{ note_form.hidden_tag() }}
            </form>
        </div>
          
        <div class="col">
                
        {% for n in notes %}
        <form action="{{ url_for('delete', id=n.id) }}" method="POST">
        <div class="notes_and_radio_div">
    
        <h1 class="note_font"> 
        {{ note_form.delete_button (class="btn btn-primary") }} {{ n.text }}
        </h1>
        </form> 
        </div>
        created {{ n.date.strftime('%d/%m/%y %H:%M')}}
        {% endfor %}
            
        </div>      
    </div>
</div>

 
{% endblock %}