{% extends 'base.html' %}

{% block content %}
    <h1>notes</h1>   
    
<div class="container-fluid">
    <div class="row">
        <div class="col">
            
    <form action="" method="POST">
        <br>
    <button class="btn btn-primary">{{  note_form.add_note_button }}</button>

    <button class="btn btn-primary"> {{ note_form.edit_button }}</button>
    <button class="btn btn-primary"> {{ note_form.save_button }}</button>
    <button class="btn btn-primary"> {{ note_form.delete_button }}</button>
        <br>
        <br>
    {{ note_form.field }} 
    
    {{ note_form.hidden_tag() }}
    </form>  
    
          
        </div>
          
        <div class="col">
                
                        {% for n in notes %}

<h1 class="note_font">  {{ n.text }}</h1> created {{ n.date.strftime('%d/%m/%y %H:%M')}}  
                        {% endfor %}
           
        </div>      
    </div>
</div>
 
{% endblock %}